
# Analisando dados do ENADE 2019

Os dados estão disponíveis em https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enade

In [1]:
# importando bibliotecas 
import pandas as pd
import numpy as np

In [13]:
#este arquivo pode ser encontrado dentro da pasta DADOS, depois de baixar a pasta do Enade 2019 encontrado no link acima
with open('microdados_enade_2019.txt', 'r') as f:
    # Usando a expressão regular para o separador indicando que eles são os
    # espaços em braco
    df = pd.read_table(f, sep=';')
    print(df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (57,59) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

       NU_ANO  CO_IES  CO_CATEGAD  CO_ORGACAD  ...  QE_I65  QE_I66  QE_I67  QE_I68
0        2019       1       10002       10028  ...     8.0     7.0     1.0     2.0
1        2019       1       10002       10028  ...     4.0     4.0     2.0     2.0
2        2019       1       10002       10028  ...     1.0     1.0     1.0     4.0
3        2019       1       10002       10028  ...     3.0     4.0     3.0     3.0
4        2019       1       10002       10028  ...     NaN     NaN     NaN     NaN
...       ...     ...         ...         ...  ...     ...     ...     ...     ...
41303    2019     569       10002       10028  ...     4.0     4.0     4.0     4.0
41304    2019     569       10002       10028  ...     5.0     5.0     4.0     5.0
41305    2019     569       10002       10028  ...     8.0     8.0     5.0     5.0
41306    2019     569       10002       10028  ...     4.0     8.0     4.0     3.0
41307    2019     569       10002       10028  ...     NaN     NaN     NaN     NaN

[41308 rows x 137 columns]

In [14]:
df.head()

   NU_ANO  CO_IES  CO_CATEGAD  CO_ORGACAD  ...  QE_I65  QE_I66  QE_I67  QE_I68
0    2019       1       10002       10028  ...     8.0     7.0     1.0     2.0
1    2019       1       10002       10028  ...     4.0     4.0     2.0     2.0
2    2019       1       10002       10028  ...     1.0     1.0     1.0     4.0
3    2019       1       10002       10028  ...     3.0     4.0     3.0     3.0
4    2019       1       10002       10028  ...     NaN     NaN     NaN     NaN

[5 rows x 137 columns]

In [16]:
contador = 0
for i in df['NU_IDADE']:
  if i>70:
    print(df)
    contador+=1
print("{} pessoas maiores de 70 fizeram o Enade 2019".format(contador))
#no entanto nem todos os candidatos que estam no arquivo estavam presentes, a coluna TP_PRES
#especificada nos microdados do Enade definem 555 = Presente com resultado válido e 556 = Presente com resultado desconsiderado pela Aplicadora

3 pessoas maiores de 70 fizeram o Enade 2019

In [17]:
df.columns

Index(['NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO',
       'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO',
       ...
       'QE_I59', 'QE_I60', 'QE_I61', 'QE_I62', 'QE_I63', 'QE_I64', 'QE_I65',
       'QE_I66', 'QE_I67', 'QE_I68'],
      dtype='object', length=137)

In [24]:
#selecionando apenas a linha 3 da coluna idade, lembrando que a contagem de linhas começa em 0
df.loc[3, 'NU_IDADE']

24

In [19]:
#região Norte = 1, região Nordeste = 2, região Sudeste = 3, região Sul= 4, região Centro-Oeste = 5
df['CO_REGIAO_CURSO'].unique()

array([5, 2, 1, 3, 4])

In [26]:
#considerando apenas pessoas presentes com resultado válido no estado de MS, que tinham mais de 50 anos de idade
cont = 0
for i, j in enumerate(df['NU_IDADE']):
  if df.loc[i,'TP_PRES']==555 and df.loc[i, 'CO_UF_CURSO']==50:
    if j > 50:
      cont+=1
print("{} pessoas maiores de 50 anos estavam presentes e receberam resultado válido no MS".format(cont))

0 pessoas maiores de 50 anos estavam presentes e receberam resultado válido

In [27]:
#considerando todos com mais 50 anos na região de BA
cont = 0
for i, j in enumerate(df['NU_IDADE']):
  if df.loc[i, 'CO_UF_CURSO']==29 and j>50:
    cont+=1
print("{} pessoas maiores de 50 anos cadastradas no ENADE 2019 na região da Bahia".format(cont))

4 pessoas maiores de 50 anos cadastradas no ENADE 2019 na região da Bahia

In [28]:
#media das idades
df['NU_IDADE'].mean()

26.153505374261645

In [29]:
df.shape

(41308, 137)

In [31]:
#CO_RS_I3 é o atributo para pergunta: Considerando a extensão da prova, em relação ao tempo total, você considera que a prova foi:
#A = muito longa, B = Longa, C = Adequada, D = Curta, E = Muito Curta, * = resposta anulada, vazio = sem resposta

#vamos verificar quantas pessoas acharam a prova "curta"
resp = 0
for i in df['CO_RS_I3']:
  if i == 'D':
    resp += 1
print("{} pessoas acharam a prova curta".format(resp))

2182 pessoas acharam a prova curta

In [32]:
df['CO_RS_I3'].head()

0    C
1    B
2
3    C
4
Name: CO_RS_I3, dtype: object